## PART 2 of the country club SQLite database project.

Database file `sqlite_db_pythonsqlite.db` was extracted from the Tier 2 archive and saved in the current working directory.

In [1]:
# Import modules.
import os
import sqlite3

In [2]:
# Create a connection and query function.
def connect_query(database, sql):
    try:
        connection = sqlite3.connect(database)
        cursor = connection.cursor()
        cursor.execute(sql)
        result = cursor.fetchall()
        for row in result:
            print(row)
    except sqlite3.Error as error:
        print(error)
    finally:
        if connection:
            connection.close()

In [3]:
# Assign database path
db = './sqlite_db_pythonsqlite.db'

In [4]:
# Q10: Produce a list of facilities with a total revenue less than 1000.
# The output of facility name and total revenue, sorted by revenue. Remember
# that there's a different cost for guests and members!
sql = '''SELECT name, ROUND(SUM(income), 2) AS revenue
FROM (
    SELECT f.facid, name, membercost, guestcost, bookid, memid, slots,
        CASE WHEN b.memid > 0 THEN f.membercost * b.slots
        ELSE f.guestcost * b.slots END
        AS income
    FROM Facilities AS f
    INNER JOIN Bookings AS b
    ON f.facid = b.facid
    ORDER BY f.facid
    ) AS temp
GROUP BY name
HAVING revenue < 1000
ORDER BY revenue DESC;'''

connect_query(db, sql)

('Pool Table', 270.0)
('Snooker Table', 240.0)
('Table Tennis', 180.0)

In [5]:
# Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order
sql = '''SELECT (m.surname || ', ' || m.firstname) AS member_name,
    (r.surname || ', ' || r.firstname) AS recommender_name
FROM Members AS m
INNER JOIN Members AS r
ON m.recommendedby = r.memid
ORDER BY member_name;'''

connect_query(db, sql)

('Bader, Florence', 'Stibbons, Ponder')
('Baker, Anne', 'Stibbons, Ponder')
('Baker, Timothy', 'Farrell, Jemima')
('Boothe, Tim', 'Rownam, Tim')
('Butters, Gerald', 'Smith, Darren')
('Coplin, Joan', 'Baker, Timothy')
('Crumpet, Erica', 'Smith, Tracy')
('Dare, Nancy', 'Joplette, Janice')
('Genting, Matthew', 'Butters, Gerald')
('Hunt, John', 'Purview, Millicent')
('Jones, David', 'Joplette, Janice')
('Jones, Douglas', 'Jones, David')
('Joplette, Janice', 'Smith, Darren')
('Mackenzie, Anna', 'Smith, Darren')
('Owen, Charles', 'Smith, Darren')
('Pinker, David', 'Farrell, Jemima')
('Purview, Millicent', 'Smith, Tracy')
('Rumney, Henrietta', 'Genting, Matthew')
('Sarwin, Ramnaresh', 'Bader, Florence')
('Smith, Jack', 'Smith, Darren')
('Stibbons, Ponder', 'Tracy, Burton')
('Worthington-Smyth, Henry', 'Smith, Tracy')

In [6]:
# Q12: Find the facilities with their usage by member, but not guests.
sql = '''SELECT DISTINCT f.facid, f.name, SUM(b.slots) AS slots_used_by_members_not_guests
FROM Facilities AS f
INNER JOIN Bookings AS b
ON f.facid = b.facid
WHERE b.memid <> 0
GROUP BY f.facid, f.name
ORDER BY f.facid;'''

connect_query(db, sql)

(0, 'Tennis Court 1', 957)
(1, 'Tennis Court 2', 882)
(2, 'Badminton Court', 1086)
(3, 'Table Tennis', 794)
(4, 'Massage Room 1', 884)
(5, 'Massage Room 2', 54)
(6, 'Squash Court', 418)
(7, 'Snooker Table', 860)
(8, 'Pool Table', 856)

In [7]:
# Q13: Find the facilities usage by month, but not guests.
sql = '''SELECT f.facid, f.name, strftime('%Y-%m', b.starttime) AS month, SUM(b.slots) AS slots_booked_by_members_not_guests
FROM Facilities AS f
INNER JOIN Bookings AS b
ON f.facid = b.facid
WHERE b.memid <> 0
GROUP BY f.facid, f.name, month
ORDER BY f.facid, month;'''

connect_query(db, sql)

(0, 'Tennis Court 1', '2012-07', 201)
(0, 'Tennis Court 1', '2012-08', 339)
(0, 'Tennis Court 1', '2012-09', 417)
(1, 'Tennis Court 2', '2012-07', 123)
(1, 'Tennis Court 2', '2012-08', 345)
(1, 'Tennis Court 2', '2012-09', 414)
(2, 'Badminton Court', '2012-07', 165)
(2, 'Badminton Court', '2012-08', 414)
(2, 'Badminton Court', '2012-09', 507)
(3, 'Table Tennis', '2012-07', 98)
(3, 'Table Tennis', '2012-08', 296)
(3, 'Table Tennis', '2012-09', 400)
(4, 'Massage Room 1', '2012-07', 166)
(4, 'Massage Room 1', '2012-08', 316)
(4, 'Massage Room 1', '2012-09', 402)
(5, 'Massage Room 2', '2012-07', 8)
(5, 'Massage Room 2', '2012-08', 18)
(5, 'Massage Room 2', '2012-09', 28)
(6, 'Squash Court', '2012-07', 50)
(6, 'Squash Court', '2012-08', 184)
(6, 'Squash Court', '2012-09', 184)
(7, 'Snooker Table', '2012-07', 140)
(7, 'Snooker Table', '2012-08', 316)
(7, 'Snooker Table', '2012-09', 404)
(8, 'Pool Table', '2012-07', 110)
(8, 'Pool Table', '2012-08', 303)
(8, 'Pool Table', '2012-09', 443)